* {
  margin: 0px;
  /* position: relative; */
}

/* Fonts */
/* Font chữ */

:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Poppins", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Color */
:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #212529; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #2b3137; /* Color for headings, subheadings and title throughout the website */
  --accent-color: rgb(
    219,
    237,
    253
  ); /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #2dba4e; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors */
:root {
  --nav-color: rgba(255, 255, 255, 0.6);
  /* The default color of the main navmenu links */
  --nav-hover-color: #ffffff; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #0d42ff; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* Thuộc tính chung cho body css */
body {
  font-family: var(--default-font);
  position: relative;
}

header {
  background-color: var(--accent-color);
  position: sticky;
  top: 0;
}

.form-control {
  width: 400px;
}

.form-search {
  height: 36px;
  position: relative;
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}

.form-search input:focus {
  border: none;
  border-radius: 20px;
}

.form-search input {
  border: none;
  background-color: transparent;
}

.form-search .btn-search {
  color: black;
  transition: 0.3s;
  padding: 8px;
}

.form-search .btn-search:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  color: color-mix(in srgb, var(black), transparent 25%);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

nav {
  font-family: var(--nav-font);
}

/* header css */
header .header .slogan {
}
/* logo */

header {
  justify-content: space-evenly;
}

.logo-img {
  height: 50px;
  border-radius: 50%;
}

header .header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header .header .logo {
  display: flex;
}

header .header .menu ul {
  display: flex;
}

header .navigation ul {
  display: flex;
}

/* user */

header .profile-container {
  position: relative;
}

.main .post-create-box .profile-pic,
header .profile-box ul .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

header .profile-box ul,
header .profile-box li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

header .profile-box ul {
  width: 100%;
  text-align: left;
}

header .profile-box li {
  display: inline-block;
  position: relative;
}

header .profile-box a {
  display: block;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

header .profile-box a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}

header .profile-box li a:hover {
  color: #0099cc;
  background: #f2f2f2;
}

/* header .profile-box input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

header .profile-box label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px;
}

header .profile-box label:before {
  font-size: 1.6em;
  color: #ffffff;
  content: "\2261";
  margin-left: 20px;
} */

header .profile-box ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: var(--default-color);
  position: absolute;
  z-index: 99;
  display: none;
}

header .profile-box ul.sub-menus li {
  display: block;
  text-align: left;
  width: 100%;
}

header .profile-box ul.sub-menus a {
  color: var(--nav-dropdown-background-color);
  font-size: 16px;
}

header .profile-box li:hover ul.sub-menus {
  display: block;
}

header .profile-box ul.sub-menus a:hover {
  background: var(--background-color);
  color: var(--default-color);
}

/* main css */

/* anh nguoi dung */
.news-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* footer css */

/* login css */
.login-page {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page .wrap .login-form .logo-img {
  height: 100px;
}

.login-page .wrap .login-form {
  min-width: 425px;
  min-height: 540px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  flex-grow: 1;
  padding: 10px;
  box-shadow: 5px 4px 8px -5px rgba(0, 0, 0, 0.7);
}

.login-page .wrap .login-form .form-heading {
  font-size: 50px;
  margin-bottom: 10px;
  color: var(--background-color);
}

.login-page .wrap .login-form input {
  min-width: 300px;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.login-page .wrap .login-form .box {
  display: flex;
  min-width: 300px;
  border-bottom: 1px solid #21252971;
  margin: 20px 50px 5px 40px;
  border-radius: 2px;
}

.login-page .wrap .login-form .box ::placeholder {
  color: #21252971;
  font-family: var(--nav-font);
}

.login-page .wrap .login-form .fa-solid {
  margin-right: 5px;
}

.login-page .wrap .login-form .forget-pass {
  font-family: var(--nav-font);
  font-size: 15px;
  margin-top: 50px;
  margin-left: 170px;
}

.login-page .wrap .login-form .forget-pass:hover {
  color: var(--heading-color);
  border-bottom: 1px solid var(--heading-color);
}

.login-page .wrap .login-form .button-login {
  width: 200px;
  height: 45px;
  background-color: var(--background-color);
  font-family: var(--nav-font);
  font-size: 20px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
}

.login-page .wrap .login-form .button-reg {
  width: 200px;
  height: 45px;
  background-color: var(--background-color);
  font-family: var(--nav-font);
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.login-page .wrap .login-form .button-reg:hover,
.login-page .wrap .login-form .button-login:hover {
  background-color: var(--heading-color);
  color: white;
}

.login-page .wrap .login-form p {
  font-family: var(--nav-font);
  font-size: 20px;
  margin: 10px;
}
